.image-container{
    width:fit-content;
}

.bounding-box{
    position:absolute;
    box-shadow: 0 0 0 2px rgb(116, 222, 255) inset;
    display:flex;
    flex-wrap: wrap;
    cursor:pointer;
    justify-content:center;
}

